@model IEnumerable<TestApp2504.Models.EmployeeModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "AddEmployee")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeptID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkingPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AGE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmpName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOJ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeptID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkingPlace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AGE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.ActionLink("Edit", "UpdateEmployee", new { id = item.EMPId }) |
            @Html.ActionLink("Details", "Details", new { id = item.EMPId }) |
            @Html.ActionLink("Delete", "DeleteEmp", new { id = item.EMPId }, new { onclick = "return confirm('Are sure wants to delete?');" })
        </td>
      
    </tr>
}

</table>
